[submodule "form-model"]
	path = form-model
	url = https://github.com/SujanKumarMitra/survey-app-form-model
[submodule "data-storage-service"]
	path = data-storage-service
	url = https://github.com/SujanKumarMitra/survey-app-data-storage-service
[submodule "form-service"]
	path = form-service
	url = https://github.com/SujanKumarMitra/survey-app-form-service
[submodule "app-ui"]
	path = app-ui
	url = https://github.com/SujanKumarMitra/survey-app-ui
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/SujanKumarMitra/survey-app-discovery-server
[submodule "config-server"]
	path = config-server
	url = https://github.com/SujanKumarMitra/survey-app-config-server
[submodule "gateway-server"]
	path = gateway-server
	url = ./gateway-server/
