[submodule "form-model"]
	path = form-model
	url = https://github.com/SujanKumarMitra/form-model
[submodule "data-storage-service"]
	path = data-storage-service
	url = https://github.com/SujanKumarMitra/data-storage-service
[submodule "form-service"]
	path = form-service
	url = https://github.com/SujanKumarMitra/form-service
[submodule "app-ui"]
	path = app-ui
	url = ./app-ui
